<div class="cart">
	<% if @cart %>
		<% if @cart.empty? %>
			<p>Your cart is empty.</p>
		<% else %>
			<%= link_to "You have #{pluralize @cart.count, "items"}.", cart_path %>
		<% end %>
	<% end %>
</div>